#contact {
  background:url("/videos/imgs/e05a63a53163439f36a5ab43d313cb02.jpg") no-repeat;
  background-size:cover;
  min-height:100vh;
  padding-top:-25%;
}

#contact h1 {
    font-weight:bolder;
    color:#000;
}

form {
  background:#fff;
  padding-top:1rem;
  margin:.5rem 1rem;
  border-radius:1rem;
  box-shadow: 0 0 2rem #333;
}

.inputBox {
  position:relative;
  text-align:center;

}

input, textarea {
    outline:none;
    border:.2rem solid #333;
    border-radius:.2rem;
    margin:2rem 0;
    padding:0 1rem;
    background:none;
    height:3rem;
    width:90%;
    font-size:2rem;
}
textarea {
    padding:1rem;
    resize:none;
    height:10rem;
}
.inputBox h3 {
    position:absolute;
    top:0rem;
    left:7%;
}


input[type="submit"] {
    height:4rem;
    width:12rem;
    margin-bottom:2rem;
    margin-left:40%;
    background:none;
    border:none;
    border-radius:2rem;
    color:#000;
    padding-bottom:.5rem;
}

input[type="submit"]:hover {
    color: #fff;
    background: #4d6398;
}

