#membership {
    background: url("/videos/imgs/GettyImages_1132006407.0.jpg") no-repeat;
    background-size:cover;
    min-height: 100vh;
}
#membership h1,span {
    font-size: 2rem;
    padding-top: 7rem;
    margin-bottom: 2rem;
    font-weight:bolder;
}
.box-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: .2rem auto;
    width: 100%;
}
.box {
    height:40vh;
    width:30vh;
    border-radius:.5rem;
    margin:3rem;
    cursor:pointer;
    overflow:hidden;
    position:relative;
    box-shadow:0 0 .5rem #333;
}

.box img {
    height:150%;
    width:150%;
    object-fit:cover;
}

.info {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:rgba(51,51,51,.6);
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow:column;
    color:#fff;
    
}

 .info h3 {
    font-size: 2rem;
    font-weight: bolder;
}
.info p {
    font-size:1.1rem;
    border-bottom:1px solid #000;
    border-top:1px solid #000;
    margin:1rem 2rem;
}

.info span {
    font-size:0.9rem;
    color:#bfc4ee;
}

.box button {
    outline: none;
    background: black;
    border: none;
    border-radius: 4rem;
    color: black;
    font-size: .9rem;
    font-weight: bolder;
    text-transform: capitalize;
    letter-spacing: .3rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 2.6rem;
    width: 10rem;
    background: #fff;
}

    .box button:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: #4d6398;
        height: 100%;
        width: 0%;
        transition: .2s;
        z-index: -1;
    }

    .box button:hover:before {
        width: 100%;
    }

    .box button:hover {
        color: white;
        font-size: .9rem;
    }

.box:hover {
    transform: scale(.9);
}


