/*special-start*/

#specials {
    background:url("/videos/imgs/gym-interior-design-5.jpg") no-repeat;
    background-size:cover;
    min-height: 100vh;
}

.heading {
    font-size: 1.6rem;
    color: #000;
    padding-top: 7rem;
    margin-bottom: 2rem;
}
.heading h1, p {
   color:#fff;
}
span {
    color:#1e3468;
}

.card-container {
    width:100%;
    margin:0.1rem auto;
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-wrap:wrap;
}

.card {
    height:25rem;
    width:18rem;
    background:#fff;
    border-radius:1.2rem;
    padding:2rem;
    margin:.5rem;
    text-align:center;
}
.card img {
    height:50%;
    width:100%;
    object-fit:cover;
}
.card p {
    font-size:0.7rem;
    margin:2rem 0;
    color:dimgrey;
}
.card button {
    outline: none;
    background:black;
    border: none;
    border-radius: 2rem;
    color: black;
    font-size: 0.6rem;
    font-weight: bolder;
    text-transform: capitalize;
    letter-spacing: .4rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 3rem;
    width: 9rem;
    background: #fff;
}
.card button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #4d6398;
    height: 100%;
    width: 0%;
    transition: .2s;
    z-index: -1;
}
.card button:hover:before {
    width: 100%;
}

.card button:hover {
    color: white;
    font-size: 0.6rem;
}
.card:hover {
    transform:scale(.9);
}




/*special-end*/
